<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<script>
			function fontSize() {
				var baseWidth = 375; // 640 750 1080 设计稿宽度
				var fontSize = (document.documentElement.clientWidth / baseWidth * 100).toFixed(2);  // 100px/100 = 0.1rem 换算公式
				document.getElementsByTagName("html")[0].style.fontSize = fontSize+"px";
			}
			fontSize()
			window.onresize = function() {
				fontSize()
			}
		</script>
		<link rel="stylesheet" href="<%= BASE_URL %>static/index.<%= VUE_APP_INDEX_CSS_HASH %>.css" />
		<!-- 微信 JS-SDK 如果不需要兼容小程序，则无需引用此 JS 文件。 -->
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
		<!-- uni 的 SDK，必须引用。 -->
		<script type="text/javascript" src="https://js.cdn.aliyun.dcloud.net.cn/dev/uni-app/uni.webview.1.5.2.js"></script>
		<script>
			window.wuni = uni
		</script>
	</head>
	<body>
		<noscript>
			<strong>Please enable JavaScript to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
